<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard преподавателя</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <!-- Шапка с фамилией и картинкой -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 th:align="center">Преподаватель</h1>
        <br>
        <a th:href="@{/teachers/profile}" class="d-flex align-items-center text-decoration-none">

            <img th:if="${teacher != null and teacher.photoUrl != null and minio != null}"
                 th:src="${minio.url + '/' + minio.bucket + '/' + teacher.photoUrl}"
                 alt="Фотография преподавателя"
                 width="150"
                 height="150"
                 class="rounded-circle">
            <img th:unless="${teacher != null and teacher.photoUrl != null and minio != null}"
                 src="/images/avatar.png"
                 alt="Фотография по умолчанию"
                 width="150"
                 height="150"
                 class="rounded-circle">
            <div>
                <h2 class="mb-0" th:text="${teacher.firstName + ' ' + teacher.lastName}">Имя Фамилия</h2>
                <p class="text-muted mb-0" th:text="${teacher.email}">email@example.com</p>
            </div>

        </a>
    </div>

    <!-- Блок со списком учеников -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Мои ученики</h5>
            <ul class="list-group">
                <li th:each="student : ${students}" class="list-group-item">
                    <div class="row">
                        <!-- Колонка для фотографии -->
                        <div class="col-md-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <img th:if="${student != null and student.photoUrl != null and minio != null}"
                                     th:src="${minio.url + '/' + minio.bucket + '/' + student.photoUrl}"
                                     alt="Фотография"
                                     width="100"
                                     height="100"
                                     class="rounded-circle">
                            </div>
                        </div>
                        <!-- Колонка для информации об ученике -->
                        <div class="col-md-9">
                            <h5 th:text="${student.firstName + ' ' + student.lastName}"></h5>
                            <p class="text-muted" th:text="'ДР: ' + ${student.getBirthDate()}"></p>
                            <p class="text-muted" th:text="'Город: ' + ${student.city}"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Ссылка на страницу создания задачи -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Создать задачу</h5>
            <a th:href="@{/teachers/tasks/create}" class="btn btn-primary">Перейти к созданию задачи</a>
        </div>
    </div>

    <!-- Список задач -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Список задач</h5>
            <div th:each="task : ${tasks}">
                <div class="card mb-3">
                    <div class="card-body">
                        <p><strong>Заголовок задачи:</strong>
                        <h5 class="card-title" th:text="${task.title}">Заголовок задачи</h5></p>
                        <p><strong>Описание задачи:</strong>
                        <p class="card-text" th:text="${task.description}">Описание задачи</p></p>
                        <p><strong>Дата выполнения:</strong>
                        <p class="card-text"><small class="text-muted" th:text="${task.expirationDate}">Дата
                            выполнения</small></p></p>
                        <p><strong>Ученик:</strong>
                            <span th:if="${task.student != null}"
                                  th:text="${task.student.firstName + ' ' + task.student.lastName}"></span>
                            <span th:unless="${task.student != null}">Не назначено</span>
                        </p>
                        <iframe width="275" height="200" th:src="${task.videoUrl}" frameborder="0"
                                allowfullscreen></iframe>

                        <!-- Кнопки для обновления и удаления задачи -->
                        <div class="mt-3">
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#updateTaskModal' + ${task.id}">
                                Обновить
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#deleteTaskModal' + ${task.id}">
                                Удалить
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Модальное окно для обновления задачи -->
                <div class="modal fade" th:id="'updateTaskModal' + ${task.id}" tabindex="-1"
                     aria-labelledby="updateTaskModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateTaskModalLabel">Обновить задачу</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/teachers/tasks/update/{id}(id=${task.id})}" method="post">
                                    <div class="mb-3">
                                        <label for="updateTitle" class="form-label">Заголовок задачи:</label>
                                        <input type="text" class="form-control" id="updateTitle" name="title"
                                               th:value="${task.title}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="updateDescription" class="form-label">Описание задачи:</label>
                                        <textarea class="form-control" id="updateDescription" name="description"
                                                  rows="3" required th:text="${task.description}"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="updateExpirationDate" class="form-label">Дата выполнения:</label>
                                        <input type="datetime-local" class="form-control" id="updateExpirationDate"
                                               name="expirationDate" required
                                               th:value="${#temporals.format(task.expirationDate, 'yyyy-MM-dd''T''HH:mm')}">

                                    </div>

                                    <div class="mb-3">
                                        <label for="updateVideoUrl" class="form-label">Ссылка на видео:</label>
                                        <input type="url" class="form-control" id="updateVideoUrl" name="videoUrl"
                                               th:value="${task.videoUrl}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="updateStudentId" class="form-label">Выберите ученика:</label>
                                        <select class="form-control" id="updateStudentId" name="student.id" required>
                                            <option th:each="student : ${students}"
                                                    th:value="${student.id}"
                                                    th:selected="${task.student != null and student.id == task.student.id}"
                                                    th:text="${student.firstName + ' ' + student.lastName}"></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Обновить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Модальное окно для удаления задачи -->
                <div class="modal fade" th:id="'deleteTaskModal' + ${task.id}" tabindex="-1"
                     aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteTaskModalLabel">Удалить задачу</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Вы уверены, что хотите удалить задачу "<span th:text="${task.title}"></span>"?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <form th:action="@{/teachers/tasks/delete/{id}(id=${task.id})}" method="post">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Кнопка выхода -->
    <a href="#" onclick="document.getElementById('logout-form').submit();" class="btn btn-danger mt-3">Выйти</a>
    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
        <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
